@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: rgb(58, 58, 58);
    height: 100vh;
    background-color: #f5f5f5;
    background-image: linear-gradient(rgba(120, 152, 255, 0.3),rgba(120, 152, 255, 0.3)), url("./imgs/bg-clouds.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 0;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
    text-align: center;

    display: flex;
    flex-direction: column;
    
}

.container h1 {
    padding: 15px 0px;
    font-family: 'Elsie Swash Caps', cursive;
    font-size: 54px;
    text-align: center;
    color:rgb(10, 80, 146);

}

.container input[type="text"] {
    font-family: 'Roboto', sans-serif;
    color: #5d5d5d;
    width: 40%;
    border: 3px solid rgb(10, 80, 146, 0.3);
    border-radius: 10px;
    outline: none;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-size: 26px;
    font-weight: bold;
    text-transform: capitalize;
    box-sizing: border-box;
}

@media (max-width: 1300px) {
    .container input[type="text"] {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .container input[type="text"] {
        width: 80%;
    }
}

::placeholder {
    color: #747474;
}

.btn {
    padding: 10px 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 50px;
    background: rgb(10, 80, 146, 0.7);
    border: 3px solid rgb(10, 80, 146, 0.7);
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 500ms;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    border-radius: 50px;
}

.btn:hover {
    background: #fff;
    color: rgb(10, 80, 146);
}










.showData {
    margin-top: 40px;
    margin-bottom: 40px;
    line-height: 1.2;
    padding: 20px;
}

.showData .city {
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #5d5d5d;
    margin-top: 0;
    padding-top: 0;

}

.showData .temp {
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: rgb(43, 111, 174);
    padding: 10px;

}

.showData .desc {
    font-size: 1.3rem;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #787878;
    padding: 10px;

}

.data-img img {
    width: 100px;
    height: auto;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;

}

.data-img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.data-container {
    display: flex;
    flex-direction: column;
    padding: 50px;
    border-radius: 100px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    
    background-color: rgb(255, 255, 255, 0.3);
    flex-basis: auto;
    width: 50%;
}

@media (max-width: 1300px) {
    .data-container {
        width: 60%;
    }
}

@media (max-width: 768px) {
    .data-container {
        width: 80%;
    }
}



/* Footer */

footer {
    background-color:rgb(80, 80, 80);
    width: 100%;
  }
  
  .dark footer {
    background-color: rgb(17, 17, 17);
  }
  
  .footer-name p {
    font-weight: 400;
    font-family: 'Alegreya Sans SC', sans-serif;
    letter-spacing: 2px;
    font-size: 16px;
    color:rgb(255, 255, 255);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
  }
  